@import url('https://fonts.googleapis.com/css2?family=Arvo&family=IM+Fell+Double+Pica&family=Rampart+One&display=swap');

* {
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background: linear-gradient(90deg, #061de3, #e306ca);
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}

.border {
    border: 2px solid rgb(255, 250, 250);
}

.container {

    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: white;

}

.title {
    font-size: 2rem;
    font-family: 'Arvo', serif;
    font-family: 'IM Fell Double Pica', serif;
    font-family: 'Rampart One', cursive;
}

.video{
    background-color: transparent;
}

.layoutholder {
    width: 740px;
    height: 80%;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.aboutme {
    width: 70%;
    color: azure;
}

.aboutme>div {
    height: 300px;
    margin-top: 40px;
}

.myinfo2>div{
    height: 450px;
    margin-top: 40px;
}

.footer {
    margin-top: 200px;
    height: 50px;

}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: azure;


}



li {
    text-decoration: none;
    color: white;
}

.myinfo {

    perspective: 800px;
}

.myinfo2 {

    perspective: 800px;
}

.myinfo:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg);
    
}

.myinfo2:hover>.card {
    cursor: pointer;
    transform: rotateY(180deg);
    
}


.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.card:hover{
    border-radius: 50px;
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.719)
}

.front,
.back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);

}

.front {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(208, 251, 251, 0.969);
    
}

.back {
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 63, 49);
    transform: rotateY(180deg);
    font-size: 10px;
    padding: 30px;
    line-height: 30px;
    word-wrap: break-word;
}

@media (max-width:960px) {
    .back {
        font-size: 10px;
        line-height: 20px;
        padding: 15px;
    }
}

.mypic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picimg {
    border: 3px solid aqua;
    border-radius: 300px;
    height: 300px;
    width: 300px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}


@media (min-width:1168px) {
    .footer {
        margin-top: 40px;
        height: 50px;

    }


}